<div class="row">
    <div class="col-xs-12">
        <h4>Requests</h4>
        <div class="btn-group">
            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">
                Invoke action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" class="invoke_serverstatuscheck">Web Status Check</a></li>
                <li><a href="#" class="invoke_autologout">Auto logout</a></li>
            </ul>
        </div>
        <p id="status_check_result" class="alert alert-dismissable alert-success hidden"></p>
        <p id="autologout_result" class="alert alert-dismissable alert-success hidden"></p>
    </div>
</div>